body {
	background-color: olive;
}

header {
	background-color: #28785c;
	text-align: center;
}
header h1 {
	color: #FFFFFF;
}	
.buttons button {
	margin-left: 20;
	margin-right: 70;
	background-color: palegreen;
}
.buttons button a {
	color: #FFFFFF;
}

.maincont {
	background-color: #28785c;
	width: 100%;
	height: 70%;
}
#main1 {
float: left;
display: block;
border: 5px solid olive;
margin: 2px;
width: 45%;
height: 95%;
}
#main1 h4 {
	color: #FFFFFF;
}

#main2 {
float: right;
display: block;
border: 5px solid olive;
margin: 2px;
width: 45%;
height: 95%;
}

#main2 h4 {
	color: #FFFFFF;
}

.info {
	background-color: #28785c;
	width: 60%;
	height: 40%;
}

.info h4 {
	color: #FFFFFF;
	text-align: center;
}

.info h5 {
	color: #FFFFFF;
	text-align: left;
}
.info img {
	float: right;
	width: 50%;
	margin: 20	;
}

footer {
	background-color: #28785c;
	text-align: center;
}

footer h5 {
	color: #FFFFFF;
}